<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
    <header class="header">
        <div class="header__logo">
            C/C++
        </div>
    </header>
    <nav class="nav">
        <a href="" class="nav__link--active">
            Главная страница
        </a>
        <a href="" class="nav__link">
            Востребованность
        </a>
        <a href="" class="nav__link">
            География
        </a>
        <a href="" class="nav__link">
            Навыки
        </a>
        <a href="" class="nav__link">
            Последние вакансии
        </a>
    </nav>
    <section class="main">
        <h1 class="main__article">
            Главная страница
        </h1>
        
    </section>
    <footer class="footer">
        <p class="footer__info">
            Власов Алексей Александрович АТ-14 РИ-210942
        </p>
        <a href="https://github.com/PPnotGG" class="footer__link">
            https://github.com/PPnotGG
        </a>
    </footer>
</body>
</html>