<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
{% for nav in navigation %}
    <header class="header">
        <div class="header__logo">
            <img class="header__logo-img" src="{{ nav.logo_field.url }}">
        </div>
    </header>
    <nav class="nav">
        <a href="{% url 'main' %}" class="nav__link--active">
            {{ nav.first_menu }}
        </a>
        <a href="{% url 'demand' %}" class="nav__link">
            {{ nav.second_menu }}
        </a>
        <a href="{% url 'geography' %}" class="nav__link">
            {{ nav.third_menu }}
        </a>
        <a href="{% url 'skills' %}" class="nav__link">
            {{ nav.fourth_menu }}
        </a>
        <a href="{% url 'last_vacancies' %}" class="nav__link">
            {{ nav.fifth_menu }}
        </a>
    </nav>
{% endfor %}
    <section class="main">
    {% for nav in navigation %}
        <h1 class="main__article">
            {{ nav.first_menu }}
        </h1>
    {% endfor %}
    {% for text in main_info %}
        <h2>{{ text.header }}</h2>
        <p>
            <img src="{{ text.image.url }}" alt="" class="main__image">
            {{ text.text|safe }}
        </p>
    {% endfor %}
    </section>
{% for nav in navigation %}
    <footer class="footer">
        <p class="footer__info">
            {{ nav.author }}
        </p>
    </footer>
{% endfor %}
</body>
</html>